<footer class="footer text-white pt-5 pb-2">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="footer-logo">
          <img src="assets/images/cap_logo.webp" alt="cap logo" />
        </div>
        <p class="pe-5">
          It's not important for kids to advertise on CNN right now<br />
          let the advantage be pure
        </p>
        <ul class="list-unstyled">
          <li>
            <i class="fas fa-map-pin me-2"></i>
            <span>Paris, France, Europe</span>
          </li>
          <li>
            <i class="fas fa-phone-alt me-2"></i>
            <span>(11) 22-33-444</span>
          </li>
          <li>
            <i class="fas fa-envelope me-2"></i>
            <span>contact&#64;youroceanwpsite.com</span>
          </li>
          <li>
            <i class="fas fa-clock me-2"></i>
            <span> Mon - Fri / 9:00 AM - 6:00 PM</span>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="row">
          <!-- First Column -->
          <div class="col-sm-4">
            <h3 class="footer-subhead">INFORMATION</h3>
            <ul class="list-unstyled">
              <li>
                <i class="far fa-dot-circle"></i>
                <a href="#">About Us</a>
              </li>
              <li>
                <i class="far fa-dot-circle"></i>
                <a href="#"> Store Location</a>
              </li>
              <li>
                <i class="far fa-dot-circle"></i>
                <a href="#">Contact Us</a>
              </li>
              <li>
                <i class="far fa-dot-circle"></i>
                <a href="#"> Shipping & Delivery</a>
              </li>
              <li>
                <i class="far fa-dot-circle"></i>
                <a href="#"> Latest News</a>
              </li>
              <li>
                <i class="far fa-dot-circle"></i>
                <a href="#"> Our Sitemap</a>
              </li>
            </ul>
          </div>
          <!-- Second Column -->
          <div class="col-sm-4">
            <h3 class="footer-subhead">OUR SERVICES</h3>
            <ul class="list-unstyled">
              <li>
                <i class="far fa-dot-circle"></i>
                <a href="#">Privacy Policy</a>
              </li>

              <li>
                <i class="far fa-dot-circle"></i>
                <a href="#">Terms of Sale</a>
              </li>
              <li>
                <i class="far fa-dot-circle"></i>
                <a href="#">Customer Service</a>
              </li>
              <li>
                <i class="far fa-dot-circle"></i>
                <a href="#">Delivery Information</a>
              </li>
              <li>
                <i class="far fa-dot-circle"></i>
                <a href="#">Payments</a>
              </li>
              <li>
                <i class="far fa-dot-circle"></i>
                <a href="#">Saved Cards</a>
              </li>
            </ul>
          </div>
          <!-- Third Column -->
          <div class="col-sm-4">
            <h3 class="footer-subhead">MY ACCOUNT</h3>
            <ul class="list-unstyled">
              <li>
                <i class="far fa-dot-circle"></i>
                <a href="#">Sign In</a>
              </li>

              <li>
                <i class="far fa-dot-circle"></i>
                <a href="#">Register</a>
              </li>
              <li>
                <i class="far fa-dot-circle"></i>
                <a href="#">View Cart</a>
              </li>
              <li>
                <i class="far fa-dot-circle"></i>
                <a href="#">My Wishlist</a>
              </li>
              <li>
                <i class="far fa-dot-circle"></i>
                <a href="#">Track My Order</a>
              </li>
              <li>
                <i class="far fa-dot-circle"></i>
                <a href="#">Help & Support</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <!-- Copyright -->
  <div class="text-center copyright pb-2">© 2025 Copyright:</div>
  <!-- Copyright -->
</footer>
