<div class="product-details" *ngIf="product$ | async as product">
    <div class="product-image">
      <img [src]="product.imageUrl" [alt]="product.name">
    </div>
    
    <div class="product-info">
      <h1>{{product.name}}</h1>
      <p class="description">{{product.subDescription}}</p>
      <p class="price">${{product.price}}</p>
      
      <div class="variants">
        <div class="colors" *ngIf="product.colors?.length">
          <h3>Colors:</h3>
          <div class="color-options">
            <span class="color-dot" 
                  *ngFor="let color of product.colors"
                  [style.background-color]="getColorCode(color)"
                  [title]="color">
            </span>
          </div>
        </div>
        
        <div class="sizes" *ngIf="product.sizes?.length">
          <h3>Sizes:</h3>
          <div class="size-options">
            <span class="size" *ngFor="let size of product.sizes">{{size}}</span>
          </div>
        </div>
      </div>
  
      <button class="add-to-cart">Add to Cart</button>
    </div>
  </div>
