<header class="header">
<div class="container">
    <div class="row vh-100 align-items-center">
        <div class="col-md-6 align-items-center justify-content-center">
            <p class="fs-4">15% OFF on all caps</p>
            <h1 class="">You forgot your cap</h1>
            <p class="mt-3 pe-5">
              Caps usually have a crown and a brim. The crown of a person's head is the
              very top. And, yes, the crown of a hat covers the top of a person's head.
              The brim ...
            </p>
            <a href="#" class="find-btn">FIND YOUR CAP</a>
        </div>
    </div>
</div>
</header>
