<section class="hat-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>SIMPLE BUT <br />ELEGANT</h2>
        <h3>ULTIMATE COMFORT AND STYLE</h3>
        <p>
          Now I'm worried about the arc. The children have a variety of hatred
          at the front of the Hendrerit faucibus. As the land was, the time and
          the pillow were said, and there was no quiver. It was just that. In a
          vehicle developer. It also takes a layer of basketball. Children who
          are targeted. At no one but a smile. Curabitur tincidunt homework
          vehicles.
        </p>
        <a href="#" class="learn-more-btn">learn more</a>
      </div>
    </div>
  </div>
</section>
<div class="features">
      <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>FAST DELIVERY</h3>
        <p>
          It will be followed by a client's education. As the land of the land,
          the mourning nor the body of the material, the pillow 
        </p>
      </div>
      <div class="col-sm-4">
        <h3>FAST DELIVERY</h3>
        <p>
          It will be followed by a client's education. As the land of the land,
          the mourning nor the body of the material, the pillow 
        </p>
      </div>
      <div class="col-sm-4">
        <h3>FREE RETURNS</h3>
        <p>
          It will be followed by a client's education. As the land of the land,
          the mourning nor the body of the material, the pillow 
        </p>
      </div>
    </div>
  </div>
</div>
